/* ==========================================================================
   DARK THEME
   ========================================================================== */

/* Palette */
$palette-text               : #f8fbea;
$palette-bg                 : #0b0c03;
$palette-primary            : #aacc2e;
$palette-secondary          : #1a6774;
$palette-accent             : #253ca2;

/* Color codes used for the theme */
$gray                       : #7a8288;
$dark-gray                  : mix(#000, $gray, 40%);
$darker-gray                : mix(#000, $gray, 60%);
$light-gray                 : mix(#fff, $gray, 50%);

$background                 : $palette-bg;
$background-light           : mix(#fff, $palette-bg, 15%);
$background-lighter         : mix(#fff, $palette-bg, 25%);
$text                       : $palette-text;
$link                       : $palette-primary;
$link-dark                  : mix(#000, $palette-primary, 20%);
$link-light                 : mix(#fff, $palette-primary, 20%);

/* Color codes used for the site */
$danger-color               : #ee5f5b;
$info-color                 : #2f7f93;
$notice-color               : $palette-primary;
$success-color              : #62c462;
$warning-color              : #f89406;

/* Other basic settings for the template */
$border-radius              : 4px;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125);
$global-transition          : all 0.2s ease-in-out;
$masthead-height            : 70px;
$navicon-width              : 28px;
$navicon-height             : 4px;
$sidebar-link-max-width     : 250px;
$sidebar-screen-min-width   : 1024px;

/* Dark theme for the site */
html[data-theme="dark"] {
    --global-base-color                 : #{$palette-primary};
    --global-bg-color                   : #{$palette-bg};
    --global-footer-bg-color            : #{mix(#fff, $palette-bg, 3%)};
    --global-border-color               : #{mix(#fff, $palette-bg, 20%)};
    --global-dark-border-color          : #{$background-light};
    --global-code-background-color      : #fafafa;
    --global-code-text-color            : #{$darker-gray};
    --global-fig-caption-color          : #{mix(#fff, $palette-bg, 40%)};
    --global-link-color                 : #{$palette-primary};
    --global-link-color-hover           : #{$link-light};
    --global-link-color-visited         : #{mix(#fff, $palette-secondary, 50%)};
    --global-masthead-link-color        : #{$palette-text};
    --global-masthead-link-color-hover  : #{$palette-primary};
    --global-text-color                 : #{$palette-text};
    --global-text-color-light           : #{mix(#fff, $palette-bg, 50%)};
    --global-thead-color                : #{$background-lighter};
    --github-icon-color                 : #ffffff;
}

html[data-theme="dark"] ::-moz-selection {
    color: #{$palette-bg};
    background: #{$palette-primary};
}

html[data-theme="dark"] ::selection {
    color: #{$palette-bg};
    background: #{$palette-primary};
}
