/* ==========================================================================
   DEFAULT THEME
   ========================================================================== */

/* Palette */
$palette-text               : #121504;
$palette-bg                 : #fbfcf3;
$palette-primary            : #afd133;
$palette-secondary          : #8bd7e5;
$palette-accent             : #5d74da;

/* Color codes used for the theme */
$gray                       : mix(#fff, $palette-text, 50%);
$dark-gray                  : mix(#000, $palette-text, 20%);
$darker-gray                : $palette-text;
$light-gray                 : mix(#fff, $palette-text, 70%);
$lighter-gray               : mix(#fff, $palette-primary, 85%);

/* Color codes used for the site */
$danger-color               : #ee5f5b;
$info-color                 : #2f7f93;
$notice-color               : $palette-primary;
$success-color              : #62c462;
$warning-color              : #f89406;

/* Other basic settings for the template */
$border-radius              : 4px;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125);
$global-transition          : all 0.2s ease-in-out;
$masthead-height            : 70px;
$navicon-width              : 28px;
$navicon-height             : 4px;
$sidebar-link-max-width     : 250px;
$sidebar-screen-min-width   : 1024px;

/* Default light theme for the site */
:root {
    --global-base-color                 : #{$palette-primary};
    --global-bg-color                   : #{$palette-bg};
    --global-footer-bg-color            : #{mix(#000, $palette-bg, 5%)};
    --global-border-color               : #{mix(#fff, $palette-primary, 80%)};
    --global-dark-border-color          : #{$palette-secondary};
    --global-code-background-color      : #fafafa;
    --global-code-text-color            : #{$palette-text};
    --global-fig-caption-color          : #{mix(#fff, $palette-text, 40%)};
    --global-link-color                 : #{$palette-accent};
    --global-link-color-hover           : #{mix(#000, $palette-accent, 20%)};
    --global-link-color-visited         : #{mix(#000, $palette-secondary, 20%)};
    --global-masthead-link-color        : #{$palette-text};
    --global-masthead-link-color-hover  : #{$palette-accent};
    --global-text-color                 : #{$palette-text};
    --global-text-color-light           : #{mix(#fff, $palette-text, 50%)};
    --global-thead-color                : #{mix(#fff, $palette-primary, 85%)};
    --github-icon-color                 : #{$github-color};
}

:root ::-moz-selection {
    color: #fff;
    background: #{$palette-accent};
}

:root ::selection {
    color: #fff;
    background: #{$palette-accent};
}
